.bg-aboutus {
  background-image: url("1150542.jpg");
  padding: 20px;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}
.h2{
  line-height: 2;
}
h1{
  color: white;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
.content {
  width: 80%;
  padding: 10px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.aboutus {
  float: right;
  padding-right: 3%;
}
.dms{
  color: white;
}
.abt-us{
  font-weight: bolder;
  color: #fff;
}
