.drills {
  font-family: "Noto Serif";
  color: var(--secondary);
  max-width: 960px;
  margin: 0 auto;
}

.Name {
  padding-bottom: 15%;
}
.h1 {
  color: white;
  text-align: center;
}
h4 {
  color: gray;
}
h5 {
  color: black;
}
.reference {
  color: gray;
}
.neighborhood {
  color: black;
}
.logout {
  padding-top: 10%;
}
.div1{
  color: white;
}
.div2{
  color: white;
}
.logout{
  align-items: center;
  justify-content: center;
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.users{
  color:white;
  text-align: center;
}
