.sidebar {
  font-family: "Noto Serif";
  color: var(--secondary);
  
}

.Name {
  padding-bottom: 15%;
}
/*p{
  color: white;
}*/
h1 {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}
h3{
  color: white;
}
h4 {
  color: white;
}
h5 {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.sidebar a{
  text-decoration: none;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
  padding-top: 10%;
  font-weight: bold;
}
a:hover{
  background-color: #0ff;
  color: black;
}
.reference {
  color: white;
}
.neighborhood {
  color: black;
}
.logout {
  padding-top: 10%;
}
.content {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
header {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.results {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  border: 3px solid green;
}

.cut-text {
  position: relative;
  text-transform: uppercase;
  font-size: extra-large;
  font-weight: 900;
  font-family: "Catamaran", sans-serif;
  font-style: italic;
  text-align: center;
}
.about-us{
  float: right;
  padding-right: 1%;
  padding-top: 1%;
  color: #a7a7a7;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 35px;
  top: 8%;
  height: 15px;
  padding: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #3f3f3f;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
 color: #fff
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
}

/*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
.bm-menu-wrap {
  position: fixed;
  height: 50%;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2em 1em 0;
  font-size: 1.2em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #2d968d;
  overflow: hidden;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
  padding: 1.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
