body {
    font-family: sans-serif;
    margin: 0;
    background-color: #050505;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    
  }
  .load{
    animation: 2s;
  }
  .slider{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    animation: slide 40s infinite;

  }
  @keyframes slide{
    0%{
      background-image: url(/src/images/5e14563c855cc23d4d6f14f3.jpg);
    }
    20%{
      background-image: url(/src/images/5e14563c855cc23d4d6f14f3.jpg);
    }
    20.01%{
      background-image: url(/src/images/ballinnet.jpg);
    }
    40%{
      background-image: url(/src/images/ballinnet.jpg);
    }
    40.01%{
      background-image: url(/src/images/femalegoalie.jpg);
    }
    60%{
      background-image: url(/src/images/femalegoalie.jpg);
    }
    60.1%{
      background-image: url(/src/images/soccertraining.jpg);
    }
    80%{
      background-image: url(/src/images/soccertraining.jpg);
    }
    80.01%{
      background-image: url(/src/images/photo-1574629810360-7efbbe195018.jpg);
    }
    100%{
      background-image: url(/src/images/photo-1574629810360-7efbbe195018.jpg);
    }
  }
  * {
    box-sizing: border-box;
  }
  .header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    color: #dfba99;
    font-size: xx-large;
  }
  .navbar{
    background:#070707;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .navbar-logo{
    color:rgb(114, 97, 4);
    justify-self: start;
    margin-left: -20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  .nav-item{
    width: calc(var(--nav-size)*0.8);
    display: flex;
   align-items: center;
   justify-content: center;
  }
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  h1, h2 {
    font-size:  300%;
    text-align: center;
    color: white;
  }
  /* @media screen and (min-width: 390px){
    h1{
    font-size: 1rem;
    }
  } */
  .p{
    text-align: center;
    color: white;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
  }
  .p2{
    text-align: center;
    color: white;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
  }
  
  .btn {
    align-items: center;
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #000000;
    color: #dfba99;
    border: 1px solid #311902;
    margin: auto;
  }
  
  .btn:hover {
    background-color: rgb(0, 248, 0);
    border-color: rgb(0, 248, 0);
    color: black;
  }
  
  
  
  .card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 20rem;
  }
  
  .actions {
    text-align: right;
  }
  
  .modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }
  
  .backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }