body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #050505;*/
    
  }
  .load{
    animation: 2s;
  }
  .slider{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    animation: slide 40s infinite;

  }
  @keyframes slide{
    0%{
      background-image: url(/src/images/5e14563c855cc23d4d6f14f3.jpg);
    }
    20%{
      background-image: url(/src/images/5e14563c855cc23d4d6f14f3.jpg);
    }
    20.01%{
      background-image: url(/src/images/ballinnet.jpg);
    }
    40%{
      background-image: url(/src/images/ballinnet.jpg);
    }
    40.01%{
      background-image: url(/src/images/femalegoalie.jpg);
    }
    60%{
      background-image: url(/src/images/femalegoalie.jpg);
    }
    60.1%{
      background-image: url(/src/images/soccertraining.jpg);
    }
    80%{
      background-image: url(/src/images/soccertraining.jpg);
    }
    80.01%{
      background-image: url(/src/images/photo-1574629810360-7efbbe195018.jpg);
    }
    100%{
      background-image: url(/src/images/photo-1574629810360-7efbbe195018.jpg);
    }
  }
  .container{
    color:black;
    width: 100%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
  }
  .header{
  
  }

  .subHeader{
    color:blue;
  }

  
  .btn {
    align-items: center;
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #000000;
    color: #dfba99;
    border: 1px solid #311902;
    margin: auto;
  }
  
  .btn:hover {
    background-color: rgb(0, 248, 0);
    border-color: rgb(0, 248, 0);
    color: black;
  }